@font-face {
  font-family: "Mulish";
  src: url(fonts/Mulish-Regular.ttf);
}

@font-face {
  font-family: Mulish-Extra-Light;
  src: url(fonts/Mulish-ExtraLight.ttf);
}

.body-container {
  margin: auto;
}

body {
  margin: 0 auto;
}

.header_container {
  max-width: 1100px;
  margin: auto;
  padding-top: 62px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
}

.header_logo {
  align-items: center;
  display: flex;
}

.header_t {
  height: 32px;
  position: relative;
  left: -28px;
  color: white;
  font-style: normal;
  font-family: mulish;
  font-size: 26px;
}

.header_logo_text {
  font-family: mulish;
  font-size: 14px;
}

.header_list {
  width: 600px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: mulish;
  font-size: 18px;
  color: #9b9b9b;
}

.header_list_elements:hover {
  color: rgb(109, 109, 109);
  cursor: pointer;
}

.header_list_elements:active {
  color: rgb(2, 2, 2);
  cursor: pointer;
  font-weight: 700;
}

.part_1_text_container {
  width: 1100px;
  margin: auto;
}

.part_1 {
  width: 1200px;
  margin-top: 80px;
  display: flex;
}

.virtual {
  width: max-content;
  font-size: 48px;
  font-family: mulish;
}

.trafalgar_provides {
  width: 420px;
  margin-top: 25px;
  color: #8f8b99;
  font-family: mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300px;
}

.consult_button {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  background-color: #458ff6;
  color: #ffffff;
  font-family: mulish;
  border-radius: 30px;
  font-size: 18px;
}

.consult_button:hover {
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: #2f6ec7;
}

.consult_button:active {
  transition-duration: 0.1s;
  cursor: pointer;
  background-color: #2d5ea1;
}

.vector_1_svg {
  transform: scale(0.8);
  margin-right: 20px;
}

.part_2_container {
  width: 1000px;
  margin: auto;
}

.part_2 {
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.our_services {
  font-family: mulish;
  margin-bottom: 10px;
}

.we_provide {
  font-family: mulish;
  margin-top: 25px;
  text-align: center;
  color: #7d7987;
  line-height: 30px;
  font-size: 18px;
}

.part_3 {
  width: 1150px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.block {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 354px;
  background-color: white;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.block_image {
  padding-left: 35px;
  padding-top: 50px;
}

.block_h2 {
  padding-left: 35px;
  padding-top: 10px;
  font-family: mulish;
}

.block_text {
  width: 260px;
  padding-left: 35px;
  padding-top: 10px;
  font-family: mulish;
  color: #7d7987;
  line-height: 28px;
  font-size: 16px;
}

.block_h2 {
  padding-left: 35px;
  padding-top: 17px;
  font-family: mulish;
}

.block_5_h2 {
  margin-top: 35px;
}

.block_text {
  width: 260px;
  padding-left: 35px;
  padding-top: 10px;
  font-family: mulish;
  color: #7d7987;
  line-height: 28px;
  font-size: 14px;
}

.block_5_h2 {
  padding-left: 35px;
  padding-top: 31px;
  font-family: mulish;
}

.block_5_text {
  width: 260px;
  padding-left: 35px;
  padding-top: 10px;
  font-family: mulish;
  color: #7d7987;
  line-height: 28px;
  font-size: 16px;
}

.learn_more_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 56px;
  border: 1.4px solid #458ff6;
  box-sizing: border-box;
  border-radius: 55px;
  font-family: mulish;
  color: #458ff6;
  font-size: 18px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 200px;
}

.learn_more_button:hover {
  transition-duration: 0.2s;
  background-color: #458ff6;
  cursor: pointer;
  color: white;
}

.learn_more_button:active {
  transition-duration: 0.1s;
  background-color: #2a6bc5;
}

.footer-container {
  height: 432px;
  margin: 0 auto;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 432px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.footer__item-1 {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 391px;
}

.footer__logo {
  display: flex;
}

.footer__logo-pic {
  position: absolute;
}

.footer__blue-t {
  margin-left: 12px;
  margin-top: 10px;
  position: absolute;
}

.footer__title {
  padding-left: 50px;
  padding-top: 4px;
  font-family: Mulish-Extra-Light;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.footer__text-1 {
  margin-top: 22px;
  font-family: Mulish-Extra-Light;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: 0.02em;
}

.footer-list {
  width: 150px;
  padding-top: 93px;
  list-style-type: none;
}

.footer-list-el {
  font-family: Mulish-Extra-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.list-name {
  padding-bottom: 15px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.footer-item-list {
  width: 150px;
}

.footer-list {
  padding-left: 0;
}
